* {
    box-sizing: border-box;
}

iframe {
    margin: 90px 160;
}

.underConstruction {
    margin: 90px 160px;
}

.gCalendar {
    position: relative; 
    padding-bottom: 75%; 
    height: 0; 
    overflow: hidden;
    margin: 90px 160px;
    border: solid 15px #ff0000;
    border-style: ridge;
    font-family: 'Lora';
}
     
.gCalendar iframe {  
    position: absolute; 
    top:0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

@media (max-width: 992px) {
    .gCalendar {
        margin: 100px 10px;
        border: solid 15px #ff0000;
        border-style: ridge;
    }

    .underConstruction {
        margin: 100px -7px;
    }
}