* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
    font-family: 'Lora';
    background-image: url('../img/bg-callout.jpg');    
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.cardContainer {
    transform: translate(10%, 0%);
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* margin: 20px; */
    font-family: 'Poppins', sans-serif;
}

.cardContainer .hoverCard {
    position: relative;
    height: 250px;
    background: #ffcb86;
    display: flex;
    width: 45%;
    margin: 20px 20px;
    border-radius: 0.25rem;
    padding: 10px;
}

.cardContainer .hoverCard .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e6a756;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 0.25rem;
}

.cardContainer .hoverCard:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #2F170F;
    border-radius: 0.25rem;
} 

.cardContainer .hoverCard .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: rgba(70, 48, 12, 0.36);
    font-weight: 700;
    border-radius: 0.25rem;
}

.cardContainer .hoverCard .imgBx img {
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.cardContainer .hoverCard:hover .imgBx img {
    max-width: 75px;
}

.cardContainer .hoverCard .imgBx i {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.cardContainer .hoverCard:hover .imgBx i {
  max-width: 75px;
}

.cardContainer .hoverCard .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer .hoverCard .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.cardContainer .hoverCard .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 992px) {
    .cardContainer {
        width: 0%;
        flex-direction: column;
        align-items: center;
    }

    .cardContainer .hoverCard {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .cardContainer .hoverCard {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    
    .cardContainer .hoverCard .imgBx {
        position: relative;
    }

    .cardContainer .hoverCard .imgBx,
    .cardContainer .hoverCard:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
    }

    .cardContainer .hoverCard .imgBx img,
    .cardContainer .hoverCard:hover .imgBx img {
        max-width: 100px;
    }

    .cardContainer .hoverCard .content {
        position: relative;
        width: 100%;
    }
}

.popup .overlay {
  position: fixed;
  top:0px;
  left:-120px;
  width:100vw;
  height:140vh;
  /* background:rgba(0,0,0,0.7); */
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background: #ffcb86;
  width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

buttonCard {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway';
  }
  
  p {
    line-height: 1.75;
  }
  
  .text-faded {
    color: rgba(255, 255, 255, 0.3);
  }
  
  heading-img {
    margin-left: -9rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Raleway';
  }
  
  .site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
  
  .page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .section-heading {
    text-transform: uppercase;
  }
  
  .section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    color: #e6a756;
  }
  
  .section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    color: #e6a756;
  }
  
  .bg-faded {
    background-color: rgba(255, 255, 255, 0.85);
  }
  
  .bg-faded-services {
    background-color: rgba(47, 23, 15, 0.85);
  }
  
  #mainNav {
    background-color: rgba(47, 23, 15, 0.9);
    font-family: 'Raleway';
  }
  
  #mainNav .navbar-brand {
    color: #e6a756;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
  }
  
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: #e6a756;
  }
  
  @media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 0.9rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #e6a756;
    }
    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
      color: #e6a756;
    }
  }
  
  .btn-xl {
    font-weight: 700;
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .intro {
    position: relative;
  }
  
  @media (min-width: 992px) {
    .intro .intro-img {
      width: 65%;
      float: right;
    }
    .intro .intro-text {
      left: 5;
      width: 60%;
      margin-top: 6rem;
      position: absolute;
    }
    .intro .intro-text .intro-button {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .intro .intro-text {
      width: 45%;
    }
  }
  
  .cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
  }
  
  .cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.85);
  }
  
  .cta .cta-inner:before {
    border-radius: 0.5rem;
    content: '';
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
    z-index: -1;
  }
  
  @media (min-width: 992px) {
    .about-heading .about-heading-img {
      margin-top: 2rem;
      max-width: 40%;
      height: auto;
      position: relative;
      z-index: 0;
    }
    .about-heading .about-heading-content {
      margin-bottom: -33rem;
      margin-left: 17rem;
      margin-right: -3rem;
      position: relative;
      z-index: 1;
    }
  }
  
  /* Scss Document */
  .dayContainer {
    text-align: center;
    font-family: "Lato", sans-serif;
    display: inline-grid;
  }
  
  .header {
    margin: 2px;
    width: 100%;
    background: #e6a756;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    padding: 5px 5px 10px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 3px 6px #888;
    min-height: 50px !important;
  }
  
  .bottomOfDate {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 50px !important;
    cursor: pointer;
  }
  
  .bottomOfDate a {
    border-bottom: none;
  }
  
  .item {
    background: #e6a756;
    color: #fff;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    width: 100%;
    box-shadow: 2px 3px 6px #888;
    padding: 10px 5px;
    min-height: 135px;
  }
  
  .time,
  .title {
    font-size: 1.1em;
    font-weight: 100;
  }
  
  .title {
    margin: 5px 0 -5px 0;
  }
  
  .location {
    font-size: 0.7em;
    margin-top: 7px;
    line-height: 1.3em;
  }
  
  .button,
  .button:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    font-size: 1em;
    position: relative;
    top: 10px;
    background: transparent !important;
  }
  
  .active .button {
    width: 35px;
    height: 35px;
  }
  
  .details {
    display: inline-block;
    font-size: 0.6em;
    margin: 5px 0 5px 0;
    line-height: 1.2em;
  }
  
  .extras {
    display: none;
    opacity: 100;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }
  
  .firstThree {
    margin: 0px 0px 10px 0px;
  }
  
  .wrapper {
    margin: 10px;
  }
  
  .dayCircle {
    background: #4f76a1;
    border-radius: 50%;
    color: #fff;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
  }
  
  .wrapper.active {
    font-size: 140%;
    margin: -10px -15px 0 -15px;
    z-index: 5000;
    position: relative;
  }
  
  .active .item {
    background: #ffcb86;
    box-shadow: 4px 10px 47px rgba(0, 0, 0, 0.5);
    width: 265px;
    border: solid 1px #fff;
    border-radius: 4px;
  }
  
  .framed {
    padding-top: 20px;
    cursor: pointer;
    max-width: 1400px;
  }
  
  .framed ul li {
    width: 215px;
  }
  
  .scrollbar {
    height: 15px;
    background: #ffcb86;
    line-height: 0;
    width: 90vw;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 50px;
    max-width: 1200px;
  }
  
  .scrollbar .handle {
    height: 100%;
    background: #4a592a;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .rotated {
    transform: rotate(180deg);
  }
  
  #weather {
    margin: 2vw auto;
  }
  
  .aw-widget-current-inner {
    margin: auto;
  }
  
  main ul a {
    border-bottom: none;
  }
  
  #key {
    padding: 10px;
    background: #2F170F;
    margin: -25px 0 100px 0;
    width: 100vw;
    min-height: 25px;
    overflow: auto;
    font-size: 1.5em;
    display: flex;
    position: relative;
    z-index: 15;
  }
  
  #ages {
    width: 40%;
    text-align: center;
    float: right;
    padding: 10px;
    margin: -10px;
    background: #2F170F;
    -webkit-clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  
  #meetingplace {
    float: left;
    width: 60%;
    text-align: center;
    margin: -10px;
    padding: 10px;
    background: #e6a756;
  }
  
  @media (min-width: 992px) {
    .services-item .services-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
      margin-right: 7rem;
    }
    .services-item .services-item-img {
      position: relative;
      z-index: 0;
      max-width: 35vw;
      margin-top: 175px;
    }
    .services-item .services-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
  }
  
  .list-hours {
    font-size: 0.9rem;
  }
  
  .list-hours .list-hours-item {
    border-bottom: 1px solid rgba(230, 167, 86, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
  }
  
  .list-hours .list-hours-item.today {
    font-weight: bold;
    color: #e6a756;
  }
  
  @media (min-width: 992px) {
    .list-hours {
      width: 50%;
      font-size: 1.1rem;
    }
  }
  
  .address strong {
    font-size: 1.2rem;
  }
  
  .footer {
    background-color: rgba(47, 23, 15, 0.9);
  }
  
  .text-primary {
    color: #865920 !important;
  }
  
  .bg-primary {
    background-color: #e6a756 !important;
  }
  
  .btn {
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  }
  
  .btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #df902a;
    border-color: #df902a;
  }
  
  .font-weight-light {
    font-weight: 100 !important;
  }