body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;

  font-family: 'Lora';
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg-callout.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

heading-img {
  margin-left: -9rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  color: #e6a756;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
  color: #e6a756;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

.bg-faded-services {
  background-color: rgba(47, 23, 15, 0.85);
}

#mainNav {
  background-color: rgba(47, 23, 15, 0.9);
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #e6a756;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 50%;
    float: right;
  }
  .intro .intro-text {
    left: 5;
    width: 60%;
    margin-top: 1rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.photos {
  padding: 5rem;
  background-color: rgba(230, 167, 86, 0.9);
  padding-top: 50px;
  height: 500px;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 167, 86, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  z-index: -1;
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    margin-top: 2rem;
    max-width: 40%;
    height: auto;
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-bottom: -33rem;
    margin-left: 17rem;
    margin-right: -3rem;
    position: relative;
    z-index: 1;
  }
}

/* Scss Document */
.dayContainer {
  text-align: center;
  font-family: "Lato", sans-serif;
  display: inline-grid;
}

.header {
  margin: 2px;
  width: 100%;
  background: #e6a756;
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  padding: 5px 5px 10px 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 3px 6px #888;
  min-height: 50px !important;
}

.bottomOfDate {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 50px !important;
  cursor: pointer;
}

.bottomOfDate a {
  border-bottom: none;
}

.item {
  background: #e6a756;
  color: #fff;
  list-style-type: none;
  margin: 10px 0px 10px 0px;
  width: 100%;
  box-shadow: 2px 3px 6px #888;
  padding: 10px 5px;
  min-height: 135px;
}

.time,
.title {
  font-size: 1.1em;
  font-weight: 100;
}

.title {
  margin: 5px 0 -5px 0;
}

.location {
  font-size: 0.7em;
  margin-top: 7px;
  line-height: 1.3em;
}

.button,
.button:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  color: #fff;
  font-size: 1em;
  position: relative;
  top: 10px;
  background: transparent !important;
}

.active .button {
  width: 35px;
  height: 35px;
}

.details {
  display: inline-block;
  font-size: 0.6em;
  margin: 5px 0 5px 0;
  line-height: 1.2em;
}

.extras {
  display: none;
  opacity: 100;
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.firstThree {
  margin: 0px 0px 10px 0px;
}

.wrapper {
  margin: 10px;
}

.dayCircle {
  background: #4f76a1;
  border-radius: 50%;
  color: #fff;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}

.wrapper.active {
  font-size: 140%;
  margin: -10px -15px 0 -15px;
  z-index: 5000;
  position: relative;
}

.active .item {
  background: #ffcb86;
  box-shadow: 4px 10px 47px rgba(0, 0, 0, 0.5);
  width: 265px;
  border: solid 1px #fff;
  border-radius: 4px;
}

.framed {
  padding-top: 20px;
  cursor: pointer;
  max-width: 1400px;
}

.framed ul li {
  width: 215px;
}

.scrollbar {
  height: 15px;
  background: #ffcb86;
  line-height: 0;
  width: 90vw;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 50px;
  max-width: 1200px;
}

.scrollbar .handle {
  height: 100%;
  background: #4a592a;
  cursor: pointer;
  border-radius: 50px;
}

.rotated {
  transform: rotate(180deg);
}

#weather {
  margin: 2vw auto;
}

.aw-widget-current-inner {
  margin: auto;
}

main ul a {
  border-bottom: none;
}

#key {
  padding: 10px;
  background: #2F170F;
  margin: -25px 0 100px 0;
  width: 100vw;
  min-height: 25px;
  overflow: auto;
  font-size: 1.5em;
  display: flex;
  position: relative;
  z-index: 15;
}

#ages {
  width: 40%;
  text-align: center;
  float: right;
  padding: 10px;
  margin: -10px;
  background: #2F170F;
  -webkit-clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 100% 0%);
}

#meetingplace {
  float: left;
  width: 60%;
  text-align: center;
  margin: -10px;
  padding: 10px;
  background: #e6a756;
}

@media (min-width: 992px) {
  .services-item .services-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
    margin-right: 7rem;
  }
  .services-item .services-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .services-item .services-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: rgba(47, 23, 15, 0.9);
}

.text-primary {
  color: #e6a756 !important;
}

.bg-primary {
  background-color: #e6a756 !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #e6a756;
  border-color: #e6a756;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #df902a;
  border-color: #df902a;
}

.font-weight-light {
  font-weight: 100 !important;
}

/* .images-selector input {
  position: absolute;
  z-index: 10;
}

.images-selector input:checked + .img-card {
  filter: none;
  transform: scaleY(1);
}

.img-card {
  display: inline-block;
  width: 250px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
  filter: grayscale(1) opacity(.8);
} */

/* .img-card:hover {
  filter: grayscale(0) opacity(1);
  box-shadow:  0px 8px 4px rgba(0, 0, 0, 0.3),
               0px 10px 2px rgba(0, 0, 0, 0.1);
} */

/* .img-card::before,
.img-card::after {
  transform: scaleY(-1);
} */

/*reflection*/
/* .img-card:hover::after {
  content: '';
  background-image: inherit;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -25%;
} */

/*fade reflection*/
/* .img-card:hover::before {
  content: '';
  width: inherit;
  height: 42%;
  position: absolute;
  bottom: -25%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, .9),rgba(255, 255, 255, .5));
  z-index: 1;
} */

/* .img1 {
  background-image: url(/img/picsandsiteinfo/colomaLivingHistory.jpg);
}

.img2 {
  background-image: url(/img/picsandsiteinfo/colomaLivingHistory2019.jpg);
}

.img3 {
  background-image: url(/img/picsandsiteinfo/kidPicHomeschooling.jpg);
}

.img4 {
  background-image: url(/img/picsandsiteinfo/kidsHomeschoolingBaking.jpg);
} */

html, body {
  min-height:100vh;
}

body {
  /* display:flex;  */
  align-items:center; 
  flex-flow:column nowrap;
  overflow-x:hidden;
}

.titlePhotos {
  font:1.3em/1 monospace;
  font-variant:small-caps;
  letter-spacing:0.5em;
  margin-left:29em;
}

.galleryPhotos {
  perspective:700px;
  width:50vw;
  display:flex; justify-content:center; align-items:center; flex-flow:row wrap;
  margin-top: 10em;
  margin-right: 45em;
}

.img-heading {
  border-radius: 7rem;
  width: 6%;
  height: auto;
  padding: 20px;
}

ulp {
  position:relative;
  width:100px; height:100px;
  margin:0.1em;
  perspective-origin:center center;
  transform-style:preserve-3d;
  transform:rotateX(40deg);
  transition:all 0.4s;
}

ulp:hover {
  transform:translateZ(100px) rotateX(20deg); z-index:999;
}

ulp:hover lip {
  filter:grayscale(0);
}

lip {
  position:absolute; left:0; top:0;
  backface-visibility:hidden;
  width:100%; height:100%;
  transition:transform 0.3s, filter 1s;
  background:coral;
  filter:grayscale(0.9);
}
/*
Setup individual planes final poistion(by left top) and initial position(by transform)
*/
lip:first-of-type {transform:none;}
lip:nth-of-type(2) {left:100%; transform-origin:left center; transform:rotateY(180deg);}
lip:nth-of-type(3) {top:100%; transform-origin:center top; transform:rotateX(-180deg);}
lip:nth-of-type(4) {left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
lip:nth-of-type(5) {top:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
lip:nth-of-type(6) {top:100%; left:100%; transform-origin:center top; transform:rotateX(-180deg);}
lip:nth-of-type(7) {top:100%; left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
lip:nth-of-type(8) {top:-100%; left:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
lip:nth-of-type(9) {top:-100%; left:100%; transform-origin:left center; transform:rotateY(180deg);}
/*
Setup transition-delay, for mouseout state 
*/
lip:nth-of-type(2),lip:nth-of-type(3),lip:nth-of-type(4),lip:nth-of-type(5) {transition-delay:0.03s;}
lip:nth-of-type(6),lip:nth-of-type(7),lip:nth-of-type(8),lip:nth-of-type(9) {transition-delay:0s;}
ulp:hover :nth-of-type(2),ulp:hover :nth-of-type(3),ulp:hover :nth-of-type(4),ulp:hover :nth-of-type(5) {transition-delay:0s}
ulp:hover :nth-of-type(6),ulp:hover :nth-of-type(7),ulp:hover :nth-of-type(8),ulp:hover :nth-of-type(9) {transition-delay:0.2s}
/*
Setup planes final state
*/
ulp:hover :nth-of-type(2),ulp:hover :nth-of-type(4),ulp:hover :nth-of-type(7),ulp:hover :nth-of-type(9) {transform:rotateY(0);}
ulp:hover :nth-of-type(3), ulp:hover :nth-of-type(5),ulp:hover :nth-of-type(6), ulp:hover :nth-of-type(8) {transform:rotateX(0);}
/* 
Set background position
*/
ulp lip {background-size:300% 300%;}
lip:nth-of-type(1) {background-position:center center;}
lip:nth-of-type(2) {background-position:right center;}
lip:nth-of-type(3) {background-position:center bottom;}
lip:nth-of-type(4) {background-position:left center;}
lip:nth-of-type(5) {background-position:center top;}
lip:nth-of-type(6) {background-position:right bottom;}
lip:nth-of-type(7) {background-position:left bottom;}
lip:nth-of-type(8) {background-position:left top;}
lip:nth-of-type(9) {background-position:right top;}
/*
Set background image source
*/
ulp:nth-of-type(1) lip { background-image:url(/img/picsandsiteinfo/colomaLivingHistory.jpg);}
ulp:nth-of-type(1) { width:120px; height:80px; }
ulp:nth-of-type(2) lip { background-image:url(/img/picsandsiteinfo/colomaLivingHistory2019.jpg);}
ulp:nth-of-type(2) { width:90px; height:130px; }
ulp:nth-of-type(3) lip { background-image:url(/img/picsandsiteinfo/kidPicHomeschooling.jpg);}
ulp:nth-of-type(3) { width:130px; height:90px; }
ulp:nth-of-type(4) lip { background-image:url(/img/picsandsiteinfo/kidsHomeschoolingBaking.jpg);}
ulp:nth-of-type(4) { width:120px; height:80px; }
ulp:nth-of-type(5) lip { background-image:url(/img/picsandsiteinfo/sasparillaAtColomaInTheBar.jpg);}
ulp:nth-of-type(5) { width:64px; height:84px; }
/* ulp:nth-of-type(6) lip { background-image:url(//picsum.photos/1000/666image=943);}
ulp:nth-of-type(6) { width:100px; height:66px; } */
/* 
Hide debug label 
*/
lip { text-indent:999px; overflow:hidden; }