/* Scss Document */

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #e6a756 !default;
$secondary: #2F170F !default;
$third: #ffcb86 !default;

$white: #fff;
$header: #176c88;
$active: #4f76a1;
$red: #f12217;
$greenish: #4a592a;
$inactive: #6286aa;
$width: 215px;
$grey: #959595;
$black: #000;

.dayContainer {
	text-align: center;
	font-family: "Lato", sans-serif;
	display: inline-grid;
}

.header {
	margin: 2px;
	width: 100%;
	background: $primary;
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
	padding: 5px 5px 10px 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 2px 3px 6px #888;
	min-height: 50px !important;
}

.bottomOfDate {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 50px !important;
	cursor: pointer;
}

.bottomOfDate a {
	border-bottom: none;
}

.item {
	background: $primary;
	color: $white;
	list-style-type: none;
	margin: 10px 0px 10px 0px;
	width: 100%;
	box-shadow: 2px 3px 6px #888;
	padding: 10px 5px;
	min-height: 135px;
}

.time,
.title {
	font-size: 1.1em;
	font-weight: 100;
}

.title {
	margin: 5px 0 -5px 0;
}

.location {
	font-size: 0.7em;
	margin-top: 7px;
	line-height: 1.3em;
}

.button,
.button:hover {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: auto;
	color: $white;
	font-size: 1em;
	position: relative;
	top: 10px;
	background: transparent !important;
}
.active .button {
	width: 35px;
	height: 35px;
}

.details {
	display: inline-block;
	font-size: 0.6em;
	margin: 5px 0 5px 0;
	line-height: 1.2em;
}

.extras {
	display: none;
	opacity: 100;
	width: 100%;
	margin: 0px 0px 10px 0px;
}

.firstThree {
	margin: 0px 0px 10px 0px;
}

.wrapper {
	margin: -5px;
}

.dayCircle {
	background: $active;
	border-radius: 50%;
	color: $white;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
}

.wrapper.active {
	font-size: 140%;
	margin: -10px -15px 0 -15px;
	z-index: 5000;
	position: relative;
}

.active .item {
	background: $third;
	box-shadow: 4px 10px 47px rgba(0, 0, 0, 0.5);
	width: 265px;
	border: solid 1px $white;
	border-radius: 4px;
}
.framed {
	padding-top: 20px;
	cursor: pointer;
	max-width: 1400px;
}
.framed ul li {
	width: 215px;
}

.scrollbar {
	height: 25px;
	background: $third;
	line-height: 0;
	width: 90vw;
	margin: auto;
	margin-bottom: 1em;
	border-radius: 50px;
	max-width: 1200px;
	margin-top: 1em;
}

.scrollbar .handle {
	height: 100%;
	background: $greenish;
	cursor: pointer;
	border-radius: 50px;
}

.rotated {
	transform: rotate(180deg);
}
#weather {
	margin: 2vw auto;
}
.aw-widget-current-inner {
	margin: auto;
}
main ul a {
	border-bottom: none;
}
#key {
	padding: 10px;
	background: $secondary;
	margin: -25px 0 100px 0;
	width: 100%;
	min-height: 25px;
	overflow: auto;
	font-size: 1.5em;
	display: flex;
	position: relative;
	z-index: 15;
}
#ages {
	width: 40%;
	color: $white;
	text-align: center;
	float: right;
	padding: 10px;
	margin: -10px;
	background: $secondary;
	clip-path: polygon(4% 0%, 0% 100%, 100% 100%, 100% 0%);
}
#meetingplace {
	color: $white;
	float: left;
	width: 60%;
	text-align: center;
	margin: -10px;
	padding: 10px;
	background: $primary;
}