.intro {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 50%;
      float: right;
    }
    .intro-text {
      left: 5;
      width: 60%;
      margin-top: 6rem;
      position: absolute;
      z-index: 1;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }

  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 45%;
    }
  }
}
